/* *{border: 1px dashed red} */


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif; 
}


/* header and footer */

.header,
.footer{
    background-color: #1f2937;
    height: 32px;
    width: 100%;
}

.header{
    display: flex;
    font-size: 24px;
    flex-direction: row;
    justify-content: space-between;
    color: #f9faf8;
    padding-left: 16px;
    padding-right: 16px;
}
.footer{
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

/* main content */

.hero{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 24px;
}

.hero-content{
    display: flex;
    flex-direction: column;
}


.main-text{
    font-size: 48px;
    font-weight: 800;
    margin: 8px;
}

.sec-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}

.hero-img {
    width: 300px;
    height: auto;
    /* border: 5px solid #3882f6;*/
    border-radius: 20px;
}

button{
    background-color: #3882f6;
    font-size: 16px;
    border-radius: 8px;
    color: #f9faf8;
    width: 86px;
    margin: 8px;
}

/* extra info */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.info-head{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.box-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.boxes{
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    justify-content: center;

}   

.box{
   width: 100px; 
   height: 100px;
   border: 8px solid #3882f6;
   border-radius: 20px;
}

.box-text{
    padding: 8px;
}

.call{
    display: flex;
    background-color: #3882f6;
    padding: 32px 200px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f9faf8;
}

/* quote */

.quote{
    display: flex;
    background-color:#e5e7eb;
    color:#1f2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    font-weight: 100;
    padding: 32px
}
